<section class="header-bg pt-40 relative grid h-full min-h-[84vh] place-items-center bg-cover bg-center">
  <div class="container mx-auto px-4 text-center lg:w-8/12 xl:w-7/12">
    <a
    class="github-button"
    href="https://github.com/david-ui-org/david-ui-angular"
    data-color-scheme="no-preference: light; light: light; dark: dark;"
    data-icon="octicon-star"
    data-show-count="true"
    aria-label="Star david-ui-org/david-ui-angular on GitHub"
    style="margin-bottom: 0"
  >
    Help us with a star
  </a>
  <br>
    <a href="https://www.david-ui-angular.com" target="_blank">
      <div class="inline-flex items-center rounded-lg border-[1.5px] border-blue-gray-50 bg-white py-1 pl-1 pr-8 font-medium text-black mt-3">
        <div class="relative grid items-center font-sans uppercase whitespace-nowrap select-none text-white py-1.5 text-xs mr-3 rounded-md bg-black px-3.5 !pb-2 pt-2.5 font-medium leading-none">
          <span class="">New</span>
        </div>
        David UI Angular is here!
      </div>
    </a>
    <h1
      class="block antialiased font-sans relative mx-auto mt-10 mb-6 text-center text-5xl font-black !leading-tight tracking-normal text-bold md:text-5xl lg:max-w-4xl"
    >
      Welcome to David UI <br>Tailwind CSS and Angular Power 
    </h1>
    <p
      class="block antialiased font-sans text-inherit md:text-md relative mx-auto mb-10 text-center text-lg font-normal leading-normal !text-gray-600 lg:max-w-4xl"
    >
      The components library for enterprise-level projects based on Tailwind CSS
      and Angular. Access powerful UI components, thoughtfully organized for
      maximum modularity and reusability.
    </p>

    <div class="flex flex-col items-center justify-center gap-4 sm:flex-row">
      <div class="w-full sm:w-auto">
        <a href="https://github.com/david-ui-org/david-ui-angular" target="_blank">
          <dui-button variant="outlined" color="gray">
            Github
          </dui-button>
        </a>

        <a href="https://www.david-ui-angular.com/docs/installation" target="_blank" class="ml-2">
          <dui-button color="gray">
            Explore Docs
          </dui-button>
        </a>
        
      </div>
    </div>
  </div>
</section>
